@font-face {
    font-family: myfont1;
    src: url(./fonts/Ballet-Regular-VariableFont_opsz.ttf);
}
@font-face {
    font-family: myfont2;
    src: url(./fonts/BreeSerif-Regular.ttf);
}
@font-face {
    font-family: myfont3;
    src: url(./fonts/CroissantOne-Regular.ttf);
}
@font-face {
    font-family: myfont4;
    src: url(./fonts/DancingScript-VariableFont_wght.ttf);
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.library{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 1px solid red;
    background: linear-gradient( 30deg, rgb(244, 91, 91), rgb(104, 111, 243));


}
h1 {
    font-family: myfont4, sans-serif, 'Times New Roman', Times, serif;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 900;
    font-size: 5rem;
    width: 400px;
    color: bisque;
    text-shadow: 1px 1px 1px black;

}

li{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    margin: 20px;
}
input{
    height: 1.5rem;
    font-size: 1rem;
    width: 15rem; 
    border: 1px solid black;  
}
input:hover{
    border: 2px solid red;
}
legend{
    font-size: 1.5rem;
    color: orange;
    font-weight: 800;
    text-shadow: 1px 1px 1px black;

}
fieldset{
    width: 370px; 
    background: linear-gradient( 30deg, rgb(168, 161, 161), white, rgb(203, 200, 200), white, rgb(170, 165, 165));

}
.buttons{
    box-sizing: border-box;
    width: 400px;
    text-align: center;
    margin-top: 20px;
}
button{
    margin: 10px;
    font-size: 1rem;
    background: rgb(140, 240, 166);
    height: 2rem;
    font-weight: 600;
}
label{
    margin-right: 10px;
    font-size: 1.2rem;
    font-family: myfont3, 'Times New Roman', Times, serif;
    color: red;
    text-shadow: 1px 1px 1px black;
}
#book_found{
    display: flex;
    align-items: end;
    border:1px solid red;
    height: 2rem;
    width: 400px;
    background:white;
    color: black;
}
#dem{
    box-sizing:content-box;
    display: flex;
    height: 2rem;
    border: 1px solid red;
    background-color: rgb(118, 243, 197);
    width: 400px;
    align-items:end;
    margin-bottom: -20px;
    margin-top: 5px;
}

#books{
    text-align: center;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content:end;
    align-items: left;
    border: 8px solid black;
    border-left: 20px solid black;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 10px;
    width: 390;
    height: 500px;
    margin: 5px;
    rotate: -90deg;
    background: linear-gradient( 30deg, rgb(168, 161, 161), white, rgb(203, 200, 200), white, rgb(170, 165, 165));
}


.book{
    display:flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    height: 2rem;
    width: 370px;
    margin:3px;
    rotate: 3deg;
    color: rgb(223, 216, 216);
    font-size: 1.1rem;
    border: 2px solid black;
}
.book1{
    background: brown;
    color: yellow;
    border: 2px solid black;
    font-size: 1.1rem;
}

.book2{
    background: rgb(21, 5, 5);
    color: silver;
    border: 2px solid black;
    font-size: 1.1rem;
}
.book3{
    background: rgb(235, 4, 4);
    color: rgb(247, 233, 233);
    border: 2px solid black;
    font-size: 1.1rem;
}
.book4{
    background: rgb(2, 76, 15);
    color: rgb(247, 233, 233);
    border: 2px solid black;
    font-size: 1.1rem;
}
.book5{
    background: rgb(1, 10, 64);
    color: rgb(249, 249, 36);
    border: 2px solid black;
    font-size: 1.1rem;
}
.book6{
    background: rgb(21, 5, 5);
    color: silver;
    border: 2px solid black;
    font-size: 1.1rem;
}
.book7{
    background: brown;
    color: yellow;
    border: 2px solid black;
    font-size: 1.1rem;
}

